* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #FAFCFF;
}

.mainHeading {
  font-size: 64px;
  color: #0018A4;
  font-weight: bold;
  padding: 16px 8px 1px 8px;
  margin-left: 64px;
}

.filters-sorting {
  display: flex;
  gap: 88px;
  padding: 16px 8px;
  margin-left: 64px;
}

@media (max-width: 1024px) {
  .filters-sorting {
    flex-direction: column;
    gap: 0;
  }
}

.filters {
  display: flex;
  gap: 10px;
}

.filterButton {
  border: none;
  height: 40px;
  border-radius: 50px;
  padding: 8px 16px 8px 16px;
  background-color: #ccffe2;
  font-size: 18px;
  color: #0018A4;
  font-weight: 350;
  gap: 10px;
}

.filterButton.active {
  background-color: #0018A4;
  color: white;
}

.filterButton:hover {
  box-shadow: 0 0 0 2px #0018a4;
  /* "fake" border. To prevent other elements shifting on the page when added*/
}

/*
attempt 1
.filterButton.italianSelected {
  background-color: #0018A4;
  color: white;
}

.filterButton.asianSelected {
  background-color: #0018A4;
  color: white;
}

.filterButton.mexicanSelected {
  background-color: #0018A4;
  color: white;
}*/


.sortings {
  display: flex;
  gap: 10px;
}

.sortButton {
  height: 40px;
  border-radius: 50px;
  padding: 8px 16px;
  gap: 10px;
  background-color: #ffecea;
  color: #0018a4;
  font-size: 18px;
  border: none;
  font-weight: 350;
}

.sortButton:hover {
  box-shadow: 0 0 0 2px #0018a4;
}

.sortButton.active {
  background-color: #0018A4;
  color: white;
}

.recipeSection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 316px));
  margin-left: 64px;
  gap: 16px;
}

@media (max-width: 440px) {
  .recipeSection {
    margin: 0 auto;
    justify-content: center;
  }

  .articles {
    margin: 0 auto;
    justify-content: center;
  }

  .mainHeading {
    margin: 0 auto;
    justify-content: center;
  }

  .filters-sorting {
    margin: 0 auto;
    justify-content: center;
  }
}

article {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 16px 16px 24px 16px;
  border-radius: 16px;
  background-color: #FFFFFF;
  border: 1px solid #E9E9E9;
}

article:hover {
  border: 2px solid #0018a4;
  box-shadow: 0px 0px 30px 0px #0018A433;

}

img {
  height: 200px;
  width: 268px;
  border-radius: 12px;
}

.recipeHeadingSection {
  width: 268px;
  border-bottom: 1px solid #E9E9E9;
}

h2 {
  font-size: 22px;
  font-weight: 700;
}

span {
  font-weight: bold;
}

.generalInfo {
  width: 268px;
  /* gap: 8px; */
  padding: 8px 0;
  border-bottom: 1px solid #E9E9E9;
}

ul {
  list-style: none;
  padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
}

li {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
}


h3 {
  font-size: 18px;
  font-weight: bold;
}